# please copy to a .env file and set empty environnement variables

### API SECRETS
BEAUF_NET_PORT=5000
BEAUF_NET_SECRET=secret
BEAUF_NET_SALT_ROUNDS=10

### POSTGRES SECRETS
BEAUF_NET_POSTGRES_HOST=db
BEAUF_NET_POSTGRES_DB=beauf-net
BEAUF_NET_POSTGRES_USERNAME=user
BEAUF_NET_POSTGRES_PASSWORD=pass
BEAUF_NET_POSTGRES_PORT=65000